/* Table of Contents:
    1. Container
    2. Navbar
    3. Header
    4. General styles
 */

/* 1. Container */

.container{
    width: 1200px;
    margin: auto;
}


@font-face {
    font-family: specialText;
    src: url('../2023_CSS_Project/fonts/bad-script-v16-latin-regular.woff2');
}

.basicFont {
    font-family: mainText,serif;
}

.specialText{
    font-family: specialText,serif;
}

/* 3. Header */
.header{
    width: inherit;
    height: 200px;
}

.header li a{
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 16px 15px;
}

/* 2. Navbar */
.navbar {
    width: inherit;
    float: left;
}

.content{
    width: 50%;
    height: 500px;
    background-color: green;
    float: left;
}

.content2{
    width: 50%;
    height: 500px;
    background-color: aquamarine;
    float: right;
}
.contenttext{

}

.footer{
    width: 100%;
    height: 200px;
    background-color: cornflowerblue;
}